{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% block page_product_detail_data %}
    {% block page_product_detail_info_headline %}
        <div class="row align-items-center product-detail-headline">
            {% sw_include '@Storefront/storefront/page/product-detail/headline.html.twig' %}
        </div>
    {% endblock %}

    <div class="product-detail-info">
        {{ block('page_product_detail_delivery_informations') }}

        {% set remoteClickOptions = {
            selector: "#review-tab",
            scrollToElement: true
        } %}

        {{ block('page_product_detail_reviews') }}
    </div>

    {{ block('page_product_detail_data_rich_snippet_url') }}

    {{ block('page_product_detail_data_rich_snippet_price_range') }}

    {{ block('page_product_detail_data_rich_snippet_price_currency') }}
{% endblock %}

{% block page_product_detail_ordernumber_container %}
{% endblock %}

{% block page_product_detail_configurator_include %}
{% endblock %}
