{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_quantity_container %}
    <div class="col-12 product-detail-quantity-box">
        <div class="product-detail-buy-quantity">
            <label>{{ "detail.dataColumnQuantity"|trans|sw_sanitize }}</label>
            {{ block('page_product_detail_buy_quantity') }}
        </div>

        {% block page_product_detail_price %}
            {# the block page_product_detail_price was moved from product-detail/buy-widget.html.twig #}
            <div class="product-detail-price-container {% if page.product.calculatedPrices|length > 1 %}product-detail-price-table{% endif %}">
                {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}
            </div>
        {% endblock %}

        {% block page_product_detail_tax %}
            {# the block page_product_detail_tax was moved from product-detail/buy-widget.html.twig #}
            <div class="product-detail-tax-container">
                {% if context.taxState == "gross" %}
                    {% set taxText = "general.grossTaxInformation"|trans|sw_sanitize %}
                {% else %}
                    {% set taxText = "general.netTaxInformation"|trans|sw_sanitize %}
                {% endif %}

                <p class="product-detail-tax">
                    {% block page_product_detail_tax_link %}
                        {% if context.taxState == "gross" %}
                            {% set taxLabelText = "general.grossTaxLabelInformation"|trans|sw_sanitize %}
                        {% else %}
                            {% set taxLabelText = "general.netTaxLabelInformation"|trans|sw_sanitize %}
                        {% endif %}

                        {{ taxLabelText }}
                        <a class="product-detail-tax-link"
                           href="{{ path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') }) }}"
                           title="{{ taxText }}"
                           data-toggle="modal"
                           data-url="{{ path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') }) }}">
                            {{ taxText }}
                        </a>
                    {% endblock %}
                </p>
            </div>
        {% endblock %}

        {% if page.product.purchaseUnit and page.product.calculatedPrices|length <= 1 %}
            {% block page_product_detail_price_unit %}
                {# the block page_product_detail_price_unit was moved from /product-detail/buy-widget-price.html.twig #}
                {% set price = page.product.calculatedPrice %}

                {% if page.product.calculatedPrices|length == 1 %}
                    {% set price = page.product.calculatedPrices.first %}
                {% endif %}

                <div class="product-detail-price-unit">
                    {% block page_product_detail_price_unit_label %}
                        <span class="price-unit-label">
                            {{ "detail.priceUnitName"|trans|sw_sanitize }}
                        </span>
                    {% endblock %}

                    {% block page_product_detail_price_unit_content %}
                        <span class="price-unit-content">
                            {{ page.product.purchaseUnit }} {{ page.product.unit.name }}
                        </span>
                    {% endblock %}

                    {% if price.referencePrice is not null %}
                        {% block page_product_detail_price_unit_reference_content %}
                            <span class="price-unit-reference-content">
                                ({{ price.referencePrice.price|currency }}{{ "general.star"|trans|sw_sanitize }} / {{ price.referencePrice.referenceUnit }} {{ price.referencePrice.unitName }})
                            </span>
                        {% endblock %}
                    {% endif %}
                </div>
            {% endblock %}
        {% endif %}

        {% block page_product_detail_configurator_include %}
            {% if page.product.parentId and page.configuratorSettings|length > 0 %}
                <div class="product-detail-configurator-container">
                    {% sw_include '@Storefront/storefront/page/product-detail/configurator.html.twig' %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
