{# SwagCinemaTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/component/product/card/box-wishlist.html.twig' %}

{% block component_product_box_content %}
    <div class="card-body card-body-wishlist">
        {% block component_product_box_wishlist_action %}{% endblock %}

        {% block component_product_box_info %}
            <div class="product-info product-wishlist-info">
                <div class="d-flex justify-content-between">
                    {{ block('component_product_box_badges') }}

                    {{ block('component_product_box_wishlist') }}
                </div>

                {{ block('component_product_box_name') }}

                {{ block('component_product_box_price') }}

                {{ block('component_product_box_action') }}
            </div>
        {% endblock %}

        {{ block('component_product_box_image') }}
    </div>
{% endblock %}
