{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail-list-item.html.twig' %}

{% block page_account_order_item_detail_name %}
{% endblock %}

{% block page_account_order_item_detail_image %}
    <div class="col-12 col-sm-6 order-item">
        <div class="order-item-image">
            {{ block('page_account_order_item_detail_image_value') }}
        </div>
        <div class="order-item-name">
            {{ block('page_account_order_item_detail_name_value') }}

            {{ block('page_account_order_item_detail_variants') }}

            {{ block('page_account_order_item_detail_unitprice') }}
        </div>
    </div>
{% endblock %}

{% block page_account_order_item_detail_quantity %}
    <div class="col-12 col-sm-2 order-item order-item-quantity">
        {% if not isChild %}

            {{ block('page_account_order_item_detail_quantity_label') }}

            {{ block('page_account_order_item_detail_quantity_value') }}

        {% endif %}
    </div>
{% endblock %}

{% block page_account_order_item_detail_price %}
    <div class="col-12 col-sm-2 order-item order-item-price">
        {% if not isDiscount %}

            {{ block('page_account_order_item_detail_price_label') }}

            {{ block('page_account_order_item_detail_price_value') }}

        {% endif %}
    </div>
{% endblock %}

{% block page_account_order_item_detail_total %}
    <div class="col-12 col-sm-2 order-item order-item-total">

        {{ block('page_account_order_item_detail_total_label') }}

        {{ block('page_account_order_item_detail_total_value') }}

    </div>
{% endblock %}
