{% sw_extends '@Storefront/storefront/page/account/order-history/order-item.html.twig' %}

{% block page_account_order_item_heading %}
    {{ parent() }}

    {{ block('page_account_order_item_status') }}
{% endblock %}

{% block page_account_order_item_context_menu_button %}
    <button class="btn dropdown-toggle order-table-header-context-menu"
            type="button"
            id="accountOrderDropdown"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        {% sw_icon 'ic-three-dots' style {'pack': 'cinema'} %}
    </button>
{% endblock %}

{% block page_account_order_item_order_table_body_cell_shipping_status %}
    <div class="col-12 col-sm order-table-header-order-table-body-cell">
        <strong class="order-table-header-label">
            {{ "account.orderShippingStatus"|trans|sw_sanitize }}{{ "account.colonCharacter"|trans|sw_sanitize }}
        </strong>
        <span class="order-table-body-value {% if order.deliveries|first.stateMachineState.translated.name === "Cancelled" %} order-table-body-value--cancel{% endif %} {% if order.deliveries|first.stateMachineState.translated.name === "Failed" %} order-table-body-value--fail{% endif %}">{{ order.deliveries|first.stateMachineState.translated.name }}</span>
    </div>
{% endblock %}

{% block page_account_order_item_order_table_body_cell_payment_status %}
    <div class="col-12 col-sm order-table-header-order-table-body-cell">
        <strong class="order-table-header-label">
            {{ "account.orderPaymentStatus"|trans|sw_sanitize }}{{ "account.colonCharacter"|trans|sw_sanitize }}
        </strong>
        <span class="order-table-body-value {% if order.transactions|last.stateMachineState.translated.name === "Cancelled" %} order-table-body-value--cancel{% endif %} {% if order.transactions|last.stateMachineState.translated.name === "Failed" %} order-table-body-value--fail{% endif %}">{{ order.transactions|last.stateMachineState.translated.name }}</span>
    </div>
{% endblock %}

{% block page_account_order_item_order_table_body_cell_payment_method %}
    <div class="col-12 col-sm order-table-header-order-table-body-cell">
        <strong class="order-table-header-label">
            {{ "account.orderPaymentMethod"|trans|sw_sanitize }}{{ "account.colonCharacter"|trans|sw_sanitize }}
        </strong>
        <span class="order-table-body-value ,/{% if order.transactions|last.paymentMethod.translated.name === "Cancelled" %} order-table-body-value--cancel{% endif %} {% if order.transactions|last.paymentMethod.translated.name === "Failed" %} order-table-body-value--fail{% endif %}">{{ order.transactions|last.paymentMethod.translated.name }}</span>
    </div>
{% endblock %}

{% block page_account_order_item_order_table_body_cell_shipping_method %}
    <div class="col-12 col-sm order-table-header-order-table-body-cell">
        <strong class="order-table-header-label">
            {{ "account.orderShippingMethod"|trans|sw_sanitize }}{{ "account.colonCharacter"|trans|sw_sanitize }}
        </strong>
        <span class="order-table-body-value {% if order.deliveries|first.shippingMethod.translated.name === "Cancelled" %} order-table-body-value--cancel{% endif %} {% if order.deliveries|first.shippingMethod.translated.name === "Failed" %} order-table-body-value--fail{% endif %}">{{ order.deliveries|first.shippingMethod.translated.name }}</span>
    </div>
{% endblock %}

{% block page_account_order_item_order_table_body %}
    <div class="col-12 row order-table-header-order-table-body">
        {{ block('page_account_order_item_order_table_body_cell_shipping_status') }}

        {{ block('page_account_order_item_order_table_body_cell_payment_status') }}

        {{ block('page_account_order_item_order_table_body_cell_payment_method') }}

        {{ block('page_account_order_item_order_table_body_cell_shipping_method') }}
    </div>

    {{ block('page_account_order_item_order_table_body_cell_toggle_order_details') }}
{% endblock %}

 {% block page_account_order_item_order_table_body_cell_toggle_order_details_button %}
     <div class="d-grid">
         <button class="btn btn-outline-secondary btn-sm order-hide-btn collapsed"
                 type="submit"
                 data-bs-toggle="collapse"
                 data-bs-target="#order{{ order.orderNumber }}"
                 aria-expanded="false"
                 aria-controls="collapseExample">

             {{ block('page_account_order_item_order_table_body_cell_toggle_order_details_button_text') }}
         </button>
     </div>
 {% endblock %}

{% block page_account_order_item_overview %}
    <div class="order-wrapper">
        <div class="order-item-header">
            {% set states = [
                ORDER_TRANSACTION_STATE_FAILED,
                ORDER_TRANSACTION_STATE_REMINDED,
                ORDER_TRANSACTION_STATE_UNCONFIRMED,
                ORDER_TRANSACTION_STATE_CANCELLED
            ] %}

            {% set orderState = order.stateMachineState.technicalName %}
            {% set orderPaymentState = order.transactions.last.stateMachineState.technicalName %}

            {# @deprecated tag:v6.5.0 - Use "orderPaymentState" instead. #}
            {% set state = orderPaymentState %}

            {% set isPaymentNeeded = orderPaymentState in states and orderState != ORDER_STATE_CANCELLED %}

            <div class="row flex-wrap order-item-heading">
                {{ block('page_account_order_item_heading') }}

                {{ block('page_account_order_item_context_menu_col') }}

                {{ block('page_account_order_item_order_number_col') }}
            </div>


            {{ block('page_account_order_item_order_table_header_col') }}

            {{ block('page_account_order_item_order_table_body') }}
        </div>
    </div>

    {{ block('page_account_order_item_detail') }}
{% endblock %}
