{% sw_extends '@Storefront/storefront/component/address/address-editor-modal.html.twig' %}

{% block component_address_address_editor_modal_accordion_overview_billing_card %}
    <h5 class="address-editor-headline">{{ "account.overviewChangeBilling"|trans|sw_sanitize }}</h5>
    {{ parent() }}
{% endblock %}

{% block component_address_address_editor_modal_accordion_overview_shipping_card %}
    <h5 class="address-editor-headline">{{ "account.overviewChangeShipping"|trans|sw_sanitize }}</h5>
    {{ parent() }}
{% endblock %}

{% block component_address_address_editor_modal_accordion_actions %}
    {% if not page.address %}
        <div class="row" role="tablist">

            {% block component_address_address_editor_modal_accordion_action_edit %}
                <div class="col-12 col-md-4">
                    <div class="btn btn-outline-primary btn-block address-editor-edit create"
                         data-bs-toggle="tab"
                         data-bs-target="#{{ typePrefix }}address-create-edit">
                        {{ "account.addressEditBtn"|trans|sw_sanitize }}
                    </div>
                </div>
            {% endblock %}

            {% block component_address_address_editor_modal_accordion_action_list %}
                {% if AvailableAddressCount > 0 %}
                    <div class="col-12 col-md-4">
                        <div class="btn btn-outline-primary btn-block address-editor-select"
                             data-bs-toggle="tab"
                             data-bs-target="#{{ typePrefix }}address-list">
                            {{ "account.selectAddress"|trans|sw_sanitize }}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}

            {% block component_address_address_editor_modal_accordion_action_create %}
                <div class="col-12 col-md-4">
                    <div class="btn btn-outline-primary btn-block address-editor-create collapsed"
                         data-bs-toggle="tab"
                         data-bs-target="#{{ typePrefix }}address-create-new">
                        {{ "account.addressCreateBtn"|trans|sw_sanitize }}
                    </div>
                </div>
            {% endblock %}

        </div>
    {% endif %}
{% endblock %}

{% block component_address_address_editor_modal_accordion %}
    <div class="tab-content" id="{{ typePrefix }}addressEditorAccordion">
        {% block component_address_address_editor_modal_accordion_inner %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
