{% sw_extends '@Storefront/storefront/component/address/address.html.twig' %}

{% block component_address_action_button %}
    <div class="card-actions">
        {% sw_include '@Storefront/storefront/page/account/addressbook/address-actions.html.twig' %}
    </div>
{% endblock %}

{% block component_address %}
    {% apply spaceless %}
        <div class="address">
            {% if showShippingWarning and not address.country.shippingAvailable %}
                {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                    type: "warning",
                    content: "address.countryNoShippingAlert"|trans|sw_sanitize
                } %}
            {% endif %}

            {% if address.company or address.vatId %}
                {% block component_address_company %}
                    <div class="{% if showActionsButton %}card-title{% endif %}">
                        {{ parent() }}

                        {% if showActionsButton %}
                            {{ block('component_address_action_button') }}
                        {% endif %}
                    </div>
                {% endblock %}
            {% endif %}

            <p>
                {% if address.title %}
                    {% block component_address_title %}
                        {{ address.title }}<br/>
                    {% endblock %}
                {% endif %}

                {% block component_address_name %}
                    <div class="{% if showActionsButton and (not address.company) %}card-title{% endif %}">
                        {% if address.salutation and address.salutation.salutationKey != 'not_specified' %}
                            {{ address.salutation.translated.displayName }}
                        {% endif %}

                        {{ parent() }}

                        {% if showActionsButton and (not address.company) %}
                            {{ block('component_address_action_button') }}
                        {% endif %}
                    </div>
                {% endblock %}

                {% block component_address_street %}
                    {{ address.street }}<br/>
                {% endblock %}

                {% if address.additionalAddressLine1 %}
                    {% block component_address_additional_address_line_1 %}
                        {{ address.additionalAddressLine1 }}<br/>
                    {% endblock %}
                {% endif %}

                {% if address.additionalAddressLine2 %}
                    {% block component_address_additional_address_line_2 %}
                        {{ address.additionalAddressLine2 }}<br/>
                    {% endblock %}
                {% endif %}

                {% if address.phoneNumber %}
                    {% block component_address_phone_number %}
                        {{ address.phoneNumber }}<br/>
                    {% endblock %}
                {% endif %}

                {% block component_address_zipcode_city %}
                    {% if config('core.address.showZipcodeInFrontOfCity') %}
                        {{ address.zipcode }} {{ address.city }}<br/>
                    {% else %}
                        {{ address.city }} {{ address.zipcode }}<br/>
                    {% endif %}
                {% endblock %}

                {% if address.countryState %}
                    {% block component_address_state %}
                        {{ address.countryState.translated.name }}<br/>
                    {% endblock %}
                {% endif %}

                {% block component_address_country %}
                    {{ address.country.translated.name }}
                {% endblock %}
            </p>
        </div>
    {% endapply %}
{% endblock %}
