{% sw_extends '@Storefront/storefront/component/address/address-editor-modal.html.twig' %}

{% block component_address_address_editor_modal_accordion_action_list %}{% endblock %}

{% block component_address_address_editor_modal_accordion_overview_billing_card %}
    {% if not feature('v6.6.0.0') %}
        <h5 class="address-editor-headline">{{ "account.overviewChangeBilling"|trans|sw_sanitize }}</h5>
        {{ parent() }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_address_address_editor_modal_accordion_overview_billing_card_title %}
    {% if feature('v6.6.0.0') %}
        <div class="card-title">
            {{ block('component_address_address_editor_modal_accordion_overview_billing_card_title_text') }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}


{% block component_address_address_editor_modal_accordion_overview_shipping_card %}
    {% if not feature('v6.6.0.0') %}
        <h5 class="address-editor-headline">{{ "account.overviewChangeShipping"|trans|sw_sanitize }}</h5>
        {{ parent() }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_address_address_editor_modal_accordion_overview_shipping_card_title %}
    {% if feature('v6.6.0.0') %}
        <div class="card-title">
            {{ block('component_address_address_editor_modal_accordion_overview_shipping_card_title_text') }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_address_address_editor_modal_accordion_overview_shipping_card_address %}
    {% if feature('v6.6.0.0') %}
        {% sw_include '@Storefront/storefront/component/address/address.html.twig' with {
            'address': context.customer.defaultShippingAddress
        } %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_address_address_editor_modal_accordion_action_edit %}
    {% if feature('v6.6.0.0') %}
        <a class="address-editor-edit btn btn-outline-secondary"
           data-bs-toggle="collapse"
           data-bs-target="#{{ typePrefix }}address-create-edit"
        >
            {{ "account.addressEditBtn"|trans|sw_sanitize }}
        </a>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_address_address_editor_modal_accordion_action_create %}

    {% if feature('v6.6.0.0') %}
        <a class="address-editor-create btn btn-outline-secondary ms-2"
           data-bs-toggle="collapse"
           data-bs-target="#{{ typePrefix }}address-create-new"
        >

            {{ "account.addressCreateBtn"|trans|sw_sanitize }}
        </a>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
