{% sw_extends '@Storefront/storefront/component/quickview/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_quantity_container %}
    <div class="col-12 product-detail-quantity-box swag-cms-extensions-quickview-content--buy-quantity">
        <div class="product-detail-buy-quantity">
            <label>{{ "detail.dataColumnQuantity"|trans|sw_sanitize }}</label>
            {{ block('page_product_detail_buy_quantity') }}
        </div>

        {% block page_product_detail_price %}
            {# the block page_product_detail_price was moved from product-detail/buy-widget.html.twig #}
            <div class="product-detail-price-container {% if page.product.calculatedPrices|length > 1 %}product-detail-price-table{% endif %}">
                {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}

                {% block page_product_detail_tax %}
                    {# the block page_product_detail_tax was moved from product-detail/buy-widget.html.twig #}
                    <div class="product-detail-tax-container">
                        {% if context.taxState == "gross" %}
                            {% set taxText = "general.grossTaxInformation"|trans|sw_sanitize %}
                        {% else %}
                            {% set taxText = "general.netTaxInformation"|trans|sw_sanitize %}
                        {% endif %}

                        <p class="product-detail-tax">
                            {% block page_product_detail_tax_link %}
                                {% if context.taxState == "gross" %}
                                    {% set taxLabelText = "general.grossTaxLabelInformation"|trans|sw_sanitize %}
                                {% else %}
                                    {% set taxLabelText = "general.netTaxLabelInformation"|trans|sw_sanitize %}
                                {% endif %}

                                {{ taxLabelText }}
                                <a class="product-detail-tax-link"
                                   href="{{ path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') }) }}"
                                   title="{{ taxText }}"
                                   data-toggle="modal"
                                   data-url="{{ path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') }) }}">
                                    {{ taxText }}
                                </a>
                            {% endblock %}
                        </p>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block page_product_detail_configurator_include %}
            {% if page.product.parentId and page.configuratorSettings|length > 0 %}
                <div class="product-detail-configurator-container">
                    {% sw_include '@Storefront/storefront/page/product-detail/configurator.html.twig' %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}

{% block page_product_detail_buy_button %}
    <button class="btn btn-primary btn-block btn-buy"
            title="{{ "detail.addProduct"|trans|striptags }}"
            aria-label="{{ "detail.addProduct"|trans|striptags }}">
        {% sw_icon 'ic-cart' style {'pack' : 'cinema'} %}
        {{ "detail.addProduct"|trans|sw_sanitize }}
    </button>
{% endblock %}

{% block page_product_detail_buy_button_container %}
    {% set btnBuyClasses = 'col-12' %}

    {% if config('core.cart.wishlistEnabled') %}
        {% set btnBuyClasses = 'col-12 col-md-10' %}
    {% endif %}

    <div class="swag-cms-extensions-quickview-content--buy-button {{ btnBuyClasses }}">
        {{ block('page_product_detail_buy_button') }}
    </div>

    {% if config('core.cart.wishlistEnabled') %}
        <div class="col-12 col-md-2">
            {% block page_product_detail_wishlist %}
                {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                    showText: true,
                    size: 'md',
                    productId: page.product.id
                } %}
            {% endblock %}
        </div>
    {% endif %}

{% endblock %}

{% block swag_cms_extensions_detail_buy_form_detail_button %}
    <a class="swag-cms-extensions-quickview-detail-page-button btn btn-outline-primary btn-block btn-lg{{ redirectButtonClasses }}"
       href="{{ seoUrl('frontend.detail.page', {'productId': page.product.id}) }}"
       title="{{ redirectButtonLabel }}"
       aria-label="{{ redirectButtonLabel }}">
        {% sw_icon 'ic-plus' style {'pack' : 'cinema'} %}
        {{ redirectButtonLabel }}
    </a>
{% endblock %}
