{# SwagCinemaTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/element/cms-element-form/form-types/newsletter-form.html.twig' %}

{% block cms_form_newsletter_privacy %}{% endblock %}

{% block cms_form_newsletter_required_fields_info %}{% endblock %}

{% block cms_form_newsletter_submit %}
    <div class="row form-privacy-row">
        <div class="col">
            {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-privacy.html.twig' %}
        </div>
        <div class="col text-right">
            {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-info-required.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 cms-form-submit-col">{{ parent() }}</div>
    </div>
{% endblock %}

{% block cms_form_newsletter_select_action %}
    <div class="form-group col-12" data-custom-select="true">
        <label class="form-label" for="newsletterAction">
            {{ "newsletter.labelActionSelect"|trans }} {{ "general.required"|trans }}
        </label>

        <select name="option"
                id="newsletterAction"
                required="required"
                class="form-select"
                data-form-field-toggle="true"
                data-form-field-toggle-target=".js-field-toggle-newsletter-additional"
                data-form-field-toggle-value="subscribe">
            <option selected="selected"
                    value="{{ constant('Shopware\\Storefront\\Controller\\FormController::SUBSCRIBE') }}">
                {{ "newsletter.subscribeOption"|trans }}
            </option>

            <option value="{{ constant('Shopware\\Storefront\\Controller\\FormController::UNSUBSCRIBE') }}">
                {{ "newsletter.unsubscribeOption"|trans }}
            </option>
        </select>
    </div>
{% endblock %}
