{% sw_extends '@Storefront/storefront/component/listing/filter/filter-range.html.twig' %}

{% block component_filter_range_toggle_icon %}
    {% sw_icon 'ic-arrow-down' style {'pack' : 'cinema'} %}
{% endblock %}

{% block component_filter_range_toggle %}
    <button class="filter-panel-item-toggle btn"
            aria-expanded="false"
    {% if sidebar %}
        {{dataBsToggleAttr}}="collapse"
        {{dataBsTargetAttr}}="#{{ filterItemId }}"
    {% else %}
        {{dataBsToggleAttr}}="dropdown"
        data-boundary="viewport"
        {{dataBsOffsetAttr}}="0,0"
        {% if feature('V6_5_0_0') %}data-bs-reference{% else %}data-reference{% endif %}="parent"
        aria-haspopup="true"
        {% endif %}>

        {{ block('component_filter_range_display_name') }}

        {{ block('component_filter_range_toggle_icon') }}
    </button>
{% endblock %}
