{# SwagCinemaTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/component/listing/filter/filter-multi-select.html.twig' %}

{% block component_filter_multi_select_toggle_icon %}
    {% sw_icon 'ic-arrow-down' style {'pack' : 'cinema'} %}
{% endblock %}

{% block component_filter_multi_select_toggle %}
    <button class="filter-panel-item-toggle btn"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            data-boundary="viewport"
            data-bs-offset="0,0"
            data-bs-reference="parent"
            aria-haspopup="true">

        {{ block('component_filter_multi_select_display_name') }}

        {{ block('component_filter_multi_select_count') }}

        {{ block('component_filter_multi_select_toggle_icon') }}
    </button>
{% endblock %}

{% block component_filter_multi_select_dropdown %}
    <div class="filter-multi-select-dropdown filter-panel-item-dropdown dropdown-menu"
         id="{{ filterItemId }}">
        {% block component_filter_multi_select_list %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
