{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% set cartDestination = page.cart.getExtension("b2b-cart-state").destination.name %}

{% block page_checkout_confirm_tos %}
    {% block page_checkout_confirm_tos_header %}
    {% endblock %}
{% endblock %}

{% block page_checkout_confirm_alerts %}
{% endblock %}

{% block page_checkout_confirm_header %}

    {% block page_checkout_confirm_violations %}
        {{ parent() }}
    {% endblock %}

    {{ parent() }}
{% endblock %}

{% block page_checkout_additional %}
{% endblock %}

{% block page_checkout_confirm_product_table %}
    {{ parent() }}

    {% if b2bSuite %}
        <div class="row b2b-checkout-additional">
            <div class="col-sm-6">
                {% block b2b_checkout_confirm_additional %}
                    {{ parent() }}
                {% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block page_checkout_aside_container %}
    <div class="checkout-aside-container">

        {% if config('core.cart.showCustomerComment') %}
            <div class="checkout-additional">
                {{ block ('page_checkout_finish_customer_comment') }}
            </div>
        {% endif %}

        {{ block('page_checkout_aside_summary') }}

        {% block page_checkout_aside_actions %}
            <div class="checkout-aside-action">
                <form id="confirmOrderForm"
                      action="{{ path('frontend.checkout.finish.order') }}"
                      data-form-csrf-handler="true"
                      data-form-preserver="true"
                      data-form-submit-loader="true"
                      data-form-add-history="true"
                      data-form-add-history-options='{{ formAddHistoryOptions|json_encode }}'
                      method="post">

                    {{ block('page_checkout_aside_actions_csrf') }}

                    {{ block('page_checkout_confirm_revocation_notice') }}

                    {{ block('page_checkout_confirm_tos_control') }}

                    {{ block('page_checkout_confirm_form_submit') }}
                </form>
            </div>

            {% if b2bSuite %}
                {% sw_include '@Storefront/storefront/page/checkout/confirm/b2b-checkout-action.html.twig' %}
            {% endif %}

        {% endblock %}
    </div>
{% endblock %}
