{# @deprecated tag:v6.5.0 - Template `offcanvas-item.html.twig` is deprecated. Use `storefront/component/line-item/line-item.html.twig` instead. #}

{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-item.html.twig' %}

{% block component_offcanvas_product_remove_submit %}
    <button type="submit"
            title="{{ "checkout.removeLineItem"|trans|striptags }}"
            data-product-id="{{ lineItem.id }}"
            class="btn btn-light cart-item-remove-button">
        {% sw_icon 'ic-close' style {'pack' : 'cinema'} %}
    </button>
{% endblock %}

{% block component_offcanvas_product_image %}
    <div class="col">
        {{ block('component_offcanvas_product_image_inner') }}
    </div>
{% endblock %}

{% block component_offcanvas_product_details %}
    <div class="cart-item-details col-auto">
        {{ block('component_offcanvas_product_details_inner') }}
    </div>
{% endblock %}

{% block component_offcanvas_product_buy_quantity %}
    <div data-custom-select="true">
        {{ parent() }}
    </div>
{% endblock %}
