{% sw_extends '@Storefront/storefront/page/account/addressbook/index.html.twig' %}

{% block page_account_address_item_content_create %}
    <div class="address-action-create">
        <a href="{{ path('frontend.account.address.create.page') }}"
           title="{{ "account.addressCreateBtn"|trans|striptags }}"
           class="btn btn-primary px-5">
            {% sw_icon 'ic-plus' style {'pack' : 'cinema'} %}
            {{ "account.addressCreateBtn"|trans|sw_sanitize }}
        </a>
    </div>
{% endblock %}

{% block page_account_address_overview_actions %}
{% endblock %}


{% block page_account_address_overview_address %}
    {% sw_include '@Storefront/storefront/component/address/address.html.twig' with { 'showShippingWarning': defaultShippingAddress.id != address.id, 'showActionsButton': true } %}
{% endblock %}

{% block page_account_main_content %}
    {{ block('page_account_address_success_messages') }}

    {{ block('page_account_address_error_messages') }}

    <div class="account-address">
        {{ block('page_account_address_welcome') }}

        {{ block('page_account_address_main') }}
    </div>
{% endblock %}
